* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #f6d365, #fda085);
}

.card {
    background: white;
    padding: 25px;
    width: 320px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

h2 {
    text-align: center;
    margin-bottom: 15px;
}

.input-box {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

input {
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
}

button {
    padding: 10px;
    border: none;
    background: #ff7e5f;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #eb5e3d;
}

ul {
    list-style: none;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f4f4f4;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 8px;
    transition: 0.2s;
}

li:hover {
    transform: scale(1.02);
}

.delete {
    background: red;
    padding: 5px 8px;
    font-size: 12px;
}

.delete:hover {
    background: darkred;
}