*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.hero{
   border: 20px solid black;
   background-color: black;
   text-decoration-color: aliceblue;
}
.container nav-links{
    font-display: inline;

}
.navbar {
  background: #1f2d2d;
  padding: 15px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}
